        <!-- Header -->
        <header>
            <!-- Navigation -->
            <nav class="navbar">
            {% assign sorted_pages = site.pages | sort:"nav_weight" %}
                <ul>
                {% for node in sorted_pages %}
                    {% assign url_parts = node.url | split: '/' %}
                    {% assign depth = url_parts | size %}
                    {% if depth <= 2 %}
                        {% if node.url == page.url %}
                            <li><a class="navbar-link current-link" href='{{site.baseurl}}{{node.url}}' title="{{node.title}}">{{node.title}}</a></li>
                        {% else %}
                            <li><a class="navbar-link" href='{{site.baseurl}}{{node.url}}' title="{{node.title}}">{{node.title}}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </ul>
            </nav>

            <!-- Top Banner -->
            <div class="banner">
                <div class="banner-title">
                    <h1>{{ site.title }}</h1>
                    <h3>{{ site.subTitle }}</h3>
                </div>            
                <hr class="banner-divider">
                <div class="banner-buttons">        
                    <ul>
                       <li>test</li>
                       <!-- for each in SOMETHING -->
                    </ul>
                </div>
            </div>
        </header>