        <!-- Navigation -->
        <nav class="navbar" role="navigation">
        {% assign sorted_pages = site.pages | sort:"nav_weight" %}{% for node in sorted_pages %}{% assign url_parts = node.url | split: '/' %}{% assign depth = url_parts | size %}{% if depth <= 2 %}
            <a class="navbar-link" href='{{node.url}}'>{{node.title}}</a>
        {% endif %}{% endfor %}
        </nav>

        <!-- Header -->
        <div class="header">
            <div class="header-message">
                <h1>{{ site.title }}</h1>
                <h3>{{ site.subTitle }}</h3>
            </div>
            <hr class="header-divider">
            <div class="header-buttons">        
                <ul class="list-inline intro-social-buttons">
                   <!-- for each in SOMETHING -->
                </ul>
            </div>
        </div>