<!-- Navigation -->
<nav class="navbar" role="navigation">
    <a class="navbar-link" href="{{ site.baseurl }}">{{ site.title }}</a>
    <a class="navbar-link" href="{{ site.baseurl }}">{{ site.title }}</a>
</nav>

<!-- Header -->
<div class="header">
    <div class="header-message">
        <h1>{{ site.title }}</h1>
        <h3>{{ site.subTitle }}</h3>
    </div>
    <hr class="header-divider">
    <div class="header-buttons">        
        <ul class="list-inline intro-social-buttons">
           <!-- for each in SOMETHING -->
        </ul>
    </div>
</div>