---
layout: base
---
{% if page.show_content %}
<div class="content">
<H1> HOME </h1>
{{ content }}
</div>
{% endif %}

{% for item in site.home-items %}
<div class="home-item">
    <div class="content">
        <div class="flexbox">
            <div class="flex-item text">
                <h2>{{ item.title }}</h2>
                {{ item.content }}
            </div>        
            {% if item.image %}
            <div class="flex-item img">
                <img src="{{ site.baseurl }}{{ item.image }}">
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}

<div class="home-item">
    <div class="content">
        <div class="flexbox">
            <div class="flex-item text">
            <h2>Demo Application</h2>
            </div>
            <div class="flex-item embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Wn5J3fnjpQM" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>